In [1]:
import sys
import os
import opendssdirect as dss
from opendssdirect.utils import Iterator
import opendssdirect.utils 
module_path = os.path.abspath(os.path.join('.','src'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [2]:
from DCymetoDSS import CymeToDSS
import ODSS as DSS

In [3]:
#CymeToDSS()

In [4]:
system = DSS.loadDSS()
system = DSS.DSSrunsnap(system)

In [5]:
system.utils.loads_to_dataframe()

,AllocationFactor,CFactor,CVRCurve,CVRvars,CVRwatts,Class,Daily,Duty,Growth,Idx,...,Xneut,Yearly,ZipV,kV,kVABase,kW,kWh,kWhDays,kvar,puSeriesRL
load_bna1_255_b,0.5,4,,2,1,1,,,,1,...,0,,[],12.47,4.47105,4.08235,0,30,1.82336,50
load_bna1_256_a_b_c,0.5,4,,2,1,1,,,,2,...,0,,[],12.47,54,45.9,0,30,28.4463,50
load_bna1_262_a_b_c,0.5,4,,2,1,1,,,,3,...,0,,[],12.47,0,0,0,30,0,50
load_bna1_258_a_b_c,0.5,4,,2,1,1,,,,4,...,0,,[],12.47,0,0,0,30,0,50
load_bna1_257_a,0.5,4,,2,1,1,,,,5,...,0,,[],12.47,12.5,11.5,0,30,4.89898,50
load_bna1_263_b,0.5,4,,2,1,1,,,,6,...,0,,[],12.47,94.5939,22,0,30,92,50
load_bna1_251_a_b_c,0.5,4,,2,1,1,,,,7,...,0,,[],12.47,84.5028,77.1565,0,30,34.4615,50
load_bna1_247_a_b_c,0.5,4,,2,1,1,,,,8,...,0,,[],12.47,134.131,122.471,0,30,54.7008,50
load_bna1_270_b,0.5,4,,2,1,1,,,,9,...,0,,[],12.47,13.9,12.788,0,30,5.44767,50
load_bna1_253_a_b_c,0.5,4,,2,1,1,,,,10,...,0,,[],12.47,0,0,0,30,0,50
load_bna1_271_b,0.5,4,,2,1,1,,,,11,...,0,,[],12.47,22,20.24,0,30,8.6222,50
load_bna1_267_a_b,0.5,4,,2,1,1,,,,12,...,0,,[],12.47,0,0,0,30,0,50
load_bna1_269_a_b_c,0.5,4,,2,1,1,,,,13,...,0,,[],12.47,0,0,0,30,0,50

In [6]:
system = DSS.addPVSystem(system)

In [7]:
system.utils.class_to_dataframe('PVsystem')

,%Cutin,%Cutout,%R,%X,Balanced,DutyStart,EffCurve,LimitCurrent,P-TCurve,Pmpp,...,kv,kvar,kvarLimit,like,model,pctPmpp,pf,phases,spectrum,yearly
PVsystem.240_head,20,20,50,0,No,0,PVeff,No,PVPT,1000,...,24,0,1200,,1,100,1,3,,

In [8]:
system = DSS.addStorage(system)

In [9]:
system.utils.class_to_dataframe('Storage')

,%Charge,%Discharge,%EffCharge,%EffDischarge,%IdlingkW,%Idlingkvar,%R,%X,%reserve,%stored,...,kWhstored,kWrated,kv,kvar,like,model,pf,phases,spectrum,yearly
Storage.battery,100,0,90,90,1,0,0,50,20,100,...,2100,750,24,0,,1,1,3,,